/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
 */

 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(217, 240, 243);
}
/* body {
  padding: 30px 40px;
} */
header {
  background-color: #363635;
  font-family: 'Open Sans', sans-serif;
  padding: 30px 10%;
}

.header-container {
  display: block;
  color: #fff;
}

.header-container h1, .header-container .available-bal {
  display: inline-block;
}

.header-container h1 {
  margin-right: 45vw;
}

h1 .fa-user-circle {
  font-size: 40px;
}

select {
  width: 180px;
  height: 30px;
  padding-left: 50px;
  font-size: 18px;
}

.description {
  width: 400px;
  height: 30px;
  padding-left: 20px;
  font-size: 18px;
}

.amount {
  width: 180px;
  height: 30px;
  padding-left: 20px;
  font-size: 18px;
}

input:invalid {
  border: 1px solid red;
}

input[type="submit"] {
  width: 80px;
  height: 33px;
  text-align: center;
  font-size: 14px;
  font-weight: 550;
  margin-left: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius:5px;
  box-shadow: 0 2px #95a5a6;
  /* background-color: #5aac7c; */
  background-color: #C7D3DD;
}

input[type="submit"]:hover {
  /* background-color: #2ecc71; */
  background-color: rgb(158, 167, 173);
}

input[type="submit"]:active {
  /* background-color: #2ecc71; */
  background-color: rgb(158, 167, 173);
  /* box-shadow: 0 5px #95a5a6; */
  transform: translateY(2px);
}

input[type]:required {
  border: inherit;
}

/* ======================= Table part ======================= */
main {
  width: 80vw;
  margin: 20px auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
  margin: 0 auto;
  width: 100%;
  table-layout: fixed;  

}

tbody tr {
  border-bottom: 1px solid rgb(122, 115, 115);
}

tfoot tr {
  border-top: 2px solid rgb(122, 115, 115);
  border-bottom: 3px solid rgb(192, 167, 167);
  background-color: #2c3e50;
  color: #fff;
}

th {
  /* background-color: rgb(93, 102, 64); */
  /* background-color:#e28a25; */
  /* background-color: #BAD1CD; */
  /* background-color: #D3D0CB; */
  background-color: #8cada7;
  border-bottom: 2px solid rgb(100, 99, 99);
  font-size: 21px;
}

th, td {
  text-align: center;
  word-wrap: break-word;
  /* border: 2px solid rgb(100, 99, 99); */
}

tbody tr td {
  /* background-color: rgb(151, 224, 200); */
  font-size: 20px;
  line-height: 32px;
}

tbody tr td:nth-child(2) {
  text-transform: capitalize
}

.income-bg {
  /* background-color: rgba(126, 161, 107, 0.63); */
  /* background-color: rgba(187, 255, 41, 0.466); */
  /* background-color: rgba(25, 133, 99, 0.356); */
  /* background-color: #D3EFBD; */
  background-color: #D1FFD7;
}

.expense-bg {
  /* background-color: rgba(241, 72, 72, 0.3) */
  /* background-color: rgba(214, 69, 81, 0.301); */
  background-color: #EAC9C1;
}

.bin-icon {
  padding-right: 7px;
  visibility: hidden;
}

tbody tr:hover .bin-icon {
  visibility: visible;
}

/* span which keeps the id of each transaction */
.id-transaction {
  display: none;
}

tbody tr:hover td {
  background-color: rgba(161, 159, 154, 0.863);
}

tbody tr td:first-child,
tbody tr td:nth-child(2) {
  text-align: left;
  padding-left: 15px;
}

tbody tr td:nth-child(3),
tbody tr td:nth-child(4),
tbody tr td:nth-child(5) {
  text-align: right;
  padding-right: 25px;
}

tfoot tr td {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  text-align: right;
  padding-right: 25px;
}

/* ======= General: margin, padding ======= */
.mb-1 {
  margin-bottom: 1rem;
}
